.sidebar-container {
    width: 250px;
    height: 100vh;
    background-color: white;
}
.sidebar-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}